﻿.rn-carousel-container {
    overflow: hidden;
    
}
ul.rn-carousel-slides {
    position: relative;
    white-space: nowrap;
    overflow: visible;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
    padding: 0;
    margin: 0;

    >li {
        white-space: normal;
        vertical-align: top;
        display: inline-block;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}
 
.rn-carousel-animate {
    -webkit-transition: -webkit-transform .1s ease-out;
    -moz-transition: -moz-transform .1s ease-out;
    transition: transform .1s ease-out;
}
.rn-carousel-noanimate {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.rn-carousel-indicator {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 20px;
    height: 20px;
    background-color: #000;
    background-color: rgba(0,0,0,.6);

    span {
        padding: 0 5px;
        color: #333;
        transition: color .2s ease-out;
        &.active {
            color: #fff;
        }
    }
}
.image {
    width:420px;
}