﻿.breadcrumb > li + li:before {
  font-family: FontAwesome;
  content: "\f105";
  position: relative;
  top: 2px;
  line-height: 0.5em;
  margin-top: 10px;
  font-size: 1.5em;
}
.breadcrumb {
  .icon-home {
    line-height: 14px;
    font-size: 1.5em;
    position: relative;
    top:2px;
  }
  .active {
    > a, > a:hover {
      text-decoration: none;
      color: #999999;
      cursor: default;
    }
  }
  > li + li::before {
    padding: 0 10px 0 15px;
  }
}