﻿.btn-refresh {
  margin-top: -3px;
}

.btn-switch {
  background-color: white;
  border-color: #91c0ce;
  color: #67a7bb;
  &.active {
    color: white;
    background-color: #87bac9;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:hover, &:focus, &:active {
    color: white;
    background-color: lighten(#87bac9, 10%);
  }
}
.btn-small {
  padding: 2px 10px;
}
.btn-group.sort {
  width: 100%;
  a.btn {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}


