﻿.form-inline {
  &.dates {
    margin: 0;
  }
  .input-append {
    padding-top: 6px;
  }
}
.form-actions {
  margin-top: 20px;
  text-align: center;
}

#editform {
  .page-header {
    margin: 25px -15px 20px -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  input.flexibleeidit {
    width: 100%;
  }
  #reportrange {
    width: 100%;
  }
  .control-label {
    font-size: 1.2em;
  }
}
