﻿.well.information {
  padding: 5px 0;
  border-top: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  .info-block #chartContainer {
    height: 170px;
  }

  &.leftside {
    border-right: 0;
    padding: 0;

    .sort a {
      border: 0;
      border-radius: 0;
    }
  }

  .dl-horizontal dt {
    font-weight: normal;
  }
}

.info-block {
  width: 49.5%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  .thumbnail {
    background-color: white;
  }
  hr {
    margin: 0;
  }
}