.list-with-toolbar {
  .navbar {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.list-group-item-body {
    padding: 10px 15px;
    overflow:auto;
    width:100%;
}
.list-group-item-heading {
  h4 {
    margin-top:0;
  }
}
.list-group-item-lg {
  padding:0;
  display:inline-block;
  width: 100%;
}
.list-group-item.deleted {
    opacity: 0.7;

    input {
        display:none;
    }
}
.list-group-item-md {
  min-height: 50px;
  padding-top: 15px;
}

.list-group-item > .label.lgi-label {
  position: absolute;
  top: 0;
  left: 0;
}
li.list-group-item.active {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.list-group-item.active a {
  color: white;
}
.top-right-spot {
  padding-top: 5px;
  border: 1px solid #dddddd;
  border-top: 0;
  border-right: 0;
  margin-right: -15px;
  margin-top: -11px;
  margin-bottom: -11px;
  padding-bottom: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  float: right;
  input {
    display: none;
  }
  a {
    color: $link-color;
    font-size: 1.2em;
  }
}
.selectable-item {
    cursor:pointer;
}
.media-list {
    margin-bottom: 0;

    .list-group-item {
        position: inherit;
        background-color: transparent;
        border: 0;
        border-bottom: solid 1px #EEEEEE;

        &.active {
            border-color:#EEEEEE;
            background-image:none;
        }

        &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border: 0;
        }
    }
}