.message-info-bar {
    padding-bottom: 3px;
    padding-left: 8px;
    background-color: #dddddd;
    width: 100%;
    bottom: 0;
    a {
        color: #477987;
    }    
    input {
        position: relative;
        top: 2px;
    }
    .label {
        color:#477987;
        font-weight:normal;
    }
}
.active {
    .message-info-bar {
        .label {
            color: #477987;
            text-shadow:none;
        }
        a {
            color: #477987;
            text-shadow:none;
        }
        background-color: white;
    }
}