.navbar-transparent {
    opacity: 0.95;
    z-index: 100;
  &.navbar-fixed-top[sticky-bar] {
    .navbar-inner {
      ul {
        margin-left: 16px
      }
      form {
        margin-right: 16px
      }
    }
    //elem.find('ul').css({ marginLeft: 16 });
    //elem.find('form').css({ marginRight: 16 });
  }
}

.nav.nav-pills.nav-stacked#sidebar li.active a, .nav.nav-pills.nav-stacked#sidebar li.active a {
  border: 1px solid;
  border-color: #a2dae8;
}

.nav.nav-pills.nav-stacked#sidebar li a h5, .nav.nav-pills.nav-stacked#sidebar li a h6 {
  margin: 0 0 5px 0;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav.nav-pills.nav-stacked#sidebar li a {
  border: 1px solid #e5e5e5;
  margin: 2px 1px 2px 2px;
}



.nav-tabs > li > a:hover {
  border-bottom-color: #dddddd;
}

.navbar {
  >.container .navbar-brand {
    float: left;
    padding-top: 8px;
    padding-bottom: 5px;
    margin-left: 0;
    
  }
}

.subnav {
  background-color: $breadcrumb-bg;
  border-bottom: 1px solid darken($breadcrumb-bg, 5%);
  .breadcrumb {
    margin-bottom: 0;
  }
}

.nav li.dropdown.open .caret, 
.nav li.dropdown.open.active .caret, 
.nav li.dropdown.open a:hover .caret {
  border-top-color: black;
}

.nav-tabs .open .dropdown-toggle, 
.nav-pills .open .dropdown-toggle, 
.nav > li.dropdown.open.active > a:hover {
  color: white;
  border-bottom-color: inherit;
}

.navbar-inpanel {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 55px;
  padding: 0;
}

.navbar-nav > li > label {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777777;
  line-height: 20px;
  border-radius: 4px;
}