.object-popover {

  &.popover {
    max-width: 300px;
    color: $black;
    z-index: 500000;
  }
  .popover-content {
    font-size: 0.8em;
    max-height: 200px;
    overflow: auto;
    .config-content {
      font-size: 1.1em;
    }
  }
}
.popover-ol {
  margin-left: 20px;
  padding-left: 0;
  li {
    margin-left: 0;
    padding-left: 0;
    padding-top: 10px;
  }
}
