.panel-with-buttons {
  margin-top: 20px;
  .panel {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }
  .btn-group {
    a {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.panel.closed {
    .panel-heading {
        border-bottom: 0;
    }

    .panel-body {
        display: none;
    }

    
}
.panel-heading {
  button {
    padding: 2px 8px;
    position: relative;
    top: -3px;
  }
  &[sticky-bar] {
    opacity: 0.95;
    padding: 10px 0 10px 0;
    &.navbar-fixed-top {
      padding-left: 62px;
    }
  }

}
.panel-body {
  padding: 15px 15px 5px;
}
.panel-info {
    .message-info-bar {
        background-color:#d9edf7;
    }
}

.panel-subheading {
  padding: 5px 15px;
  background-color: whitesmoke;
  border-bottom: 1px solid #e8e8e8;
  p, label {
    padding:0;
    margin:0;
  }
  button {
    margin-top: -1px;
  }
}