﻿#tabwrapper {
  .dropdown.active .dropdown-menu li a {
    background-color: white;
  }
  .nav-tabs {
    margin-bottom: 5px;

    .active a {
      background-color: whitesmoke;
    }
  }
}

.tab-container {
  background-color: white;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #DDDDDD #DDDDDD transparent;
  height: 680px;
}