.thumbnail {
    .btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .progress {
        margin-bottom: 0;
        border-radius: 0;
    }

    &.dynamics {
        background-color: white;
        margin: 5px 10px;

        .center {
            text-align: center;
        }
    }

    &.mediathumbnail {
        display: inline-block;
        padding: 0;
        background-color: white;
    }

    &.mediathumbnail-big {
        height: 64px;
        width: 64px;
    }

    &.mediathumbnail-small {
        height: 20px;
        width: 20px;
    }

    &.thumbnail-article {
        float: left;
        width: 110px;
        height: 110px;
        margin-right: 10px;
        cursor: pointer;
        clear: both;
        margin-bottom: 5px;
    }

    &.thumbnail-left {
        float: left;
        margin-right: 10px;
    }

    &.thumbnail-display {
        float: left;
        margin-right: 10px;
        min-height: 210px;
        width: 210px;

        img {
            width: 100%;
            height: 200px;
        }
    }

    &.thumbnail-edit {
        display: inline-block;
    }
}
.thumbnail-item {
    margin-right: 5px;
    cursor:pointer;
    &.active {
        border-color: #2a464e;
    }

    .label {
        display:inline-block;
        width:100%;
    }
}
.thumbnail-cluster-edit {
    float: left;
    width: 325px;
    min-height: 325px;
    margin-top: 0;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    
}


$opacityHigh: 0.8;
$opacityLow: 0.6;
$transitionDuration: 700ms;

@-moz-keyframes fadeIn { 0% {opacity: $opacityLow;}	100% {opacity: $opacityHigh;} }
@-webkit-keyframes fadeIn { 0% {opacity: $opacityLow;} 100% {opacity: $opacityHigh;} }
@keyframes fadeIn { 0% {opacity: $opacityLow;} 100% {opacity: $opacityHigh;} }

@-moz-keyframes fadeOut {  0% { opacity: $opacityHigh;} 100% {opacity: $opacityLow;} }
@-webkit-keyframes fadeOut {  0% { opacity: $opacityHigh;} 100% {opacity: $opacityLow;} }
@keyframes fadeOut {  0% { opacity: $opacityHigh;} 100% {opacity: $opacityLow;} }

.image-caption {
    text-align: center;
    margin-top: -30px;
    padding: 5px;
    background-color: #2a464e;
    opacity: 0.6;
    color: white;
    -moz-animation: fadeOut;
    -o-animation: fadeOut;
    -webkit-animation: fadeOut;
    animation: fadeOut;
    -moz-transition-duration: $transitionDuration;
    -o-transition-duration: $transitionDuration;
    -webkit-transition-duration: $transitionDuration;
    transition-duration: $transitionDuration;

    &:hover {
        opacity: 0.8;
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -moz-transition-duration: $transitionDuration;
        -o-transition-duration: $transitionDuration;
        -webkit-transition-duration: $transitionDuration;
        transition-duration: $transitionDuration;
    }

    input[file-upload] {
        cursor: default;
        width: 100%;
        z-index: 1001;
        opacity: 0;
        margin-bottom: -22px;
        position: relative;
    }
}