﻿.well {

  border: 0;
  hr {
    margin-right: -19px;
    margin-left: -19px;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #F5F5F5;
  }
  h4 {
      margin: 0;
  }
}
.well.information .dl-horizontal {
  .accented {
    font-size: 1.2em;
    font-weight: bold;
  }
}
.well-xs {
    height: 184px;
    margin: 0;
    display: inline-block;
    padding: 5px;
    width: 741px;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    border-left: 0;
    border-right:0;
}
.well-cluster-edit {
    padding:0;
    .form-group {
        width: 775px;
        margin:5px;
        display:inline-block;
    }
}