<div>
    <br>
    <div class="well">
        <input type="text" class="form-control" ng-model="filterText" placeholder="Введите название или тип конфигурации">
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="configuration in configs | filter:filterText"
           ng-href="#/otk/configs/{{ configuration.id }}">
            {{ configuration.displayName }} ({{ configuration.applicationType }})
        </a>
        <a class="list-group-item loading-widget" ng-hide="isConfigListLoaded">
            <div class="loading-content">

            </div>
        </a>
    </div>
</div>
