<div ng-init="loadReports()">
    <table class="table table-striped">
        <thead>
        <tr>

            <th>ID</th>
            <th>Название</th>
            <th>Период</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="report in reports">
            <td><a ng-href="#/otk/configs/{{ configId }}/R{{ report.id }}">{{ report.id }}</a></td>
            <td><a ng-href="#/otk/configs/{{ configId }}/R{{ report.id }}">{{ report.title }}</a></td>
            <td>Месяц</td>

            <td>19.07.2013</td>
        </tr>
        </tbody>
    </table>

</div>