<div ng-controller="NavController">
    <ul class="nav nav-tabs">
        <li style="display: none" ng-class="vm.getActive('/settings/general')">
            <a ui-sref="settings.general">Общие</a>
        </li>
        <li ng-class="vm.getActive('/settings/queue')">
            <a ui-sref="settings.queue">Очередь</a>
        </li>
    </ul>
</div>
<div ui-view class="tab-view">
    
</div>