<!DOCTYPE html>
<html data-ng-app="anbo">
<head>
  <title>АРМ ОТК</title>
  <base href="/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="http://blog.revolunet.com/angular-carousel/dist/angular-carousel.min.css" />
  <link rel="icon" type="image/x-icon" href="public/main/images/favicon.ico" />
  <!-- build:[href] public/dist/styles/ -->
  <!-- build:css styles/style.min.css -->
  <link rel="stylesheet" href="public/main/styles/style.css">
  <!-- endbuild -->
  <!-- /build -->
</head>
<body>

<header ng-controller="NavController" ng-hide="vm.isLogin()">
  <nav class="navbar navbar-fixed-top navbar-inverse navbar-transparent" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <div class="navbar-header">
          <a class="navbar-brand active"><i class="icon icon-brand"></i></a>
        </div>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li ng-class='vm.getActive("/otk")'>
            <a ui-sref="otk.reports" data-target="#">Инструмент ОТК</a>
          </li>
          <li style="display: none" ng-class='vm.getActive("/pod")'>
            <a ui-sref="pod">Картина дня</a>
          </li>
          <li style="display: none" ng-class='vm.getActive("/monitor")'>
            <a ui-sref="monitor">Монитор</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li ng-class='vm.getActive("/settings")'>
            <a ui-sref="settings.queue"><i class="icon icon-cogs"></i>
              Настройки
            </a>
          </li>
          <li class="">
            <a ng-href="#" ng-click="vm.logOff($event)"><i class="icon icon-power-off"></i> Выход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="subnav">
    <div class="container">
      <ul class="breadcrumb" ng-controller="BreadcrumbController">
        <li>
          <a ui-sref="home2"><i class="icon icon-home"></i></a>
        </li>
        <li ng-repeat="breadcrumb in breadcrumbs" ng-class="{active:breadcrumb.active}">
          <a ng-href="{{ vm.currentUrl(breadcrumb.url) }}"><span ng-cloak>{{ breadcrumb.title }}</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
</header>
<div class="test"></div>
<div class="container">
  <section class="col col-lg-12">
    <error-alert></error-alert>
    <div ui-view class="main-view"></div>
  </section>
</div>

<!-- build:include prod_variables.html -->
<script>
  var globalFunctions = {
    vw: function (url) {
      return 'public/main/' + url;
    }
  };
</script>
<!-- /build -->
<!-- build:[src] public/dist/scripts/ -->
<!-- build:js scripts/vendor.js -->
<script src="public/main/bower_components/jquery/jquery.js"></script>
<script src="public/main/bower_components/es5-shim/es5-shim.js"></script>
<script src="public/main/bower_components/angular/angular.js"></script>
<script src="public/main/bower_components/json3/lib/json3.min.js"></script>
<script src="public/main/bower_components/angular-resource/angular-resource.js"></script>
<script src="public/main/bower_components/angular-animate/angular-animate.js"></script>
<script src="public/main/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="public/main/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="public/main/bower_components/angular-route/angular-route.js"></script>
<script src="public/main/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="public/main/bower_components/moment/moment.js"></script>
<script src="public/main/bower_components/lodash/dist/lodash.compat.js"></script>
<script src="public/main/bower_components/angular-moment/angular-moment.js"></script>
<script src="public/main/bower_components/angular-ui-router.stateHelper/statehelper.js"></script>
<script src="public/main/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="public/main/bower_components/moment/lang/ru.js"></script>
<script src="public/main/scripts/vendor/angular-mobile.js"></script>
<script src="public/main/scripts/vendor/angular-carousel.js"></script>
<!-- endbuild -->
<!-- /build -->
<script src="/api/config"></script>
<script src="/api/jsRoutes"></script>

<!-- build:[src] public/dist/scripts/ -->
<!-- build:js scripts/app.js -->
<script src="public/main/scripts/app.js"></script>
<!-- endbuild -->
<!-- /build -->

</body>



</html>
