<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Подтверждение действия</h4>
</div>
<div class="modal-body">
  {{vm.params.message}}
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="vm.ok()">{{vm.params.okText}}</button>
  <button class="btn btn-default" ng-click="vm.close()">{{vm.params.cancelText}}</button>
</div>