<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  <div class="">
    <div class="alert alert-danger">{{alert}}</div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in items">
        {{ item.title }}
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <ng-include src="'public/main/partials/modals/action-buttons.html'"></ng-include>
</div>

