<div class="message-info-bar">
    <span ng-if="selectAction">
        <span class="label"><input type="checkbox" ng-model="message.selected" ng-change="onChange()" /></span>
    </span>
        <span class="label">ID: <span>{{ message.id }}</span></span>
    <span class="label">ИК: {{ +message.sumAtomIndex.toFixed(4) }}</span>
    <span><i class="icon icon-time"></i><span class="label">{{message.publishDate | amDateFormat:'DD/MM/YY HH:mm'}}</span>
    </span>
    <span class="label">
        <i class="icon icon-globe"></i>
        <a ng-href="{{ message.url }}" target="_blank">{{ message.source }}</a>
    </span>

</div>
