<div class="message-info-bar">
    <span ng-if="selectAction">
        <span class="label"><input type="checkbox" ng-model="message.selected" ng-change="onChange()" /></span>
    </span>
    <span class="label">ID: <a ng-href="{{url('otk.clusterDisplay', {vs:params.vs,clusterId: message.id})}}">{{ message.id }}</a></span>
    <span class="label">
        <span>Новостей: {{ message.articlesCount }}</span>&nbsp;<span><i class="icon icon-time"></i>&nbsp;последняя&nbsp;<span am-time-ago="message.lastArticleDate"></span></span>
    </span>
</div>
