<div ng-controller="NavController">
    <br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-md"><span class="badge">14</span>
            <a href="/otk/queue/R{{ reportId }}-{{ verifiedState }}/configs">
            Конфигурация 1</a></li>
        <li class="list-group-item list-group-item-md"><span class="badge">10</span><a href="/otk/queue/R{{ reportId }}-{{ verifiedState }}/configs">
            Конфигурация 2</a></li>
        <li class="list-group-item list-group-item-md"><span class="badge">8</span><a href="/otk/queue/R{{ reportId }}-{{ verifiedState }}/configs">
            Конфигурация 3</a></li>
        <li class="list-group-item list-group-item-md"><span class="badge">24</span><a href="/otk/queue/R{{ reportId }}-{{ verifiedState }}/configs">
            Конфигурация 4</a></li>
        <li class="list-group-item list-group-item-md"><span class="badge">73</span><a href="/otk/queue/R{{ reportId }}-{{ verifiedState }}/configs">
            Конфигурация 5</a></li>
    </ul>
</div>