<div class="config-content">
  <ol class="popover-ol">
    <li ng-repeat="item in model"><span class="label label-info">{{item.applicationType}}</span>
      {{item.displayName}}
    </li>
  </ol>
</div>