<div ng-hide="vm.report.isLoaded">

  <h5 class="text-center"><i class="icon icon-cog icon-spin"></i>&nbsp;Загрузка параметров отчета ...</h5>
  
    <span class="loading-widget">
        <div class="loading-content">

        </div>
    </span>
</div>
<div class="panel-with-buttons" ng-show="vm.report.isLoaded">

  <div class="panel panel-default" ng-class="{closed:!vm.report.isLoaded}">
    <div class="panel-heading" sticky-bar="51">
        <div class="container">
            <span ng-if="vm.report.isLoaded">
                <span class="label label-default heading-label" ng-bind="vm.report.reportId"></span>&nbsp;<span
              ng-bind="vm.report.displayName"></span>
            </span>
            <span ng-if="!vm.report.isLoaded">
                <i class="icon icon-cog icon-spin"></i>
            </span>

        </div>
    </div>

    <div class="panel-subheading">
      <label style="display: inline-block">В конфигурации: </label>
            <span ng-show="!vm.isConfigListLoaded">
                <i class="icon icon-cog icon-spin"></i>
            </span>

      <p popover
         popover-get-content="vm.getConfigurations()"
         popover-trigger="mouseenter"
         popover-title="Конфигурации"
         popover-placement="bottom"
         popover-template="public/main/partials/otk/queue/configs-popover.html"
        style="display: inline-block"
        ng-show="vm.isConfigListLoaded">
        <a href="#" ng-click="$event.preventDefault()">
          {{vm.configs[0].displayName}}
          <span ng-pluralize when="vm.configPluralizer" count="vm.report.numberOfConfigurations-1"></span>
        </a>
      </p>
      <button class="btn btn-warning pull-right btn-xs" ng-click="vm.forceReportRefresh()"
              ng-disabled="vm.isRefreshingCache">DB
      </button>
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-md-4">
          <div><label><i class="icon icon-refresh"></i>&nbsp;Последнее обновление</label></div>
          <p am-time-ago="vm.report.lastCacheDate"></p>
        </div>
        <div class="col-md-4">
          <div><label><i class="icon icon-check"></i>&nbsp;Последняя проверка</label></div>
          <p am-time-ago="vm.report.lastViewDate"></p>
        </div>

        <div class="col-md-4">
          <div><label><i class="icon icon-calendar"></i>&nbsp;Период</label></div>
          <p>{{vm.periodTranslation[vm.report.period]}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group btn-group-justified">
    <a ui-sref-active="active" class="btn btn-switch" ui-sref="otk.report.articles({vs:vm.verifiedState})"
       ng-class="{disabled:vm.isArticlesDisabled()}">
      Сообщения
    </a>
    <a ui-sref-active="active" class="btn btn-switch" ui-sref="otk.report.clusters({vs:vm.verifiedState})"
       ng-class="{disabled:vm.isClustersDisabled()}">
      События
    </a>
  </div>
</div>


