<div class="page-header">
    <h4>Краткая информация
        <small class="pull-right">
            <span ng-click="vm.showInfo=!vm.showInfo"><span class="label label-info"><i class="icon icon-info"></i> </span></span>
        </small>
    </h4>
</div>
<div class="alert alert-info" ng-class="{hidden:!vm.showInfo}">
    <span class="close" data-dismiss="alert" ng-click="vm.showInfo=false">&times;</span>
    <ul class="list-inline">
        <li><i class="icon icon-check-sign"></i> Отчетов проверено:&nbsp;<span ng-bind="vm.reportQueue.checkedReports"></span>
            <span ng-show="!vm.isInfoLoaded">
                <i class="icon icon-cog icon-spin"></i>
            </span></li>
        <li><i class="icon icon-stackexchange"></i> Отчетов в очереди:&nbsp;<span ng-bind="vm.reportQueue.reportsInQueue"></span>
            <span ng-show="!vm.isInfoLoaded">
                <i class="icon icon-cog icon-spin"></i>
            </span>
        </li>
    </ul>
</div>
<div class="alert alert-{{vm.alertBlock.type}}" ng-show="vm.alertBlock.show">
    {{vm.alertBlock.message}}
</div>
<hr>

<a ng-click="vm.getTopReport()" class="btn btn-primary" ng-disabled="vm.isReportLoading">
    {{ vm.loadReportButtonText() }}&nbsp;
    <span ng-if="vm.isReportLoading">
        <i class="icon icon-cog icon-spin"></i>
    </span>
    <span ng-if="!vm.isReportLoading">
        <i class="icon icon-download"></i>
    </span>
</a>