﻿<div class="navbar-inner">
    <ul class="nav navbar-nav">
        <li><a ng-href="{{currentUrl}}"><i class="icon icon-remove"></i> Удалить в
            отчете</a></li>
        <li><a ng-href="{{currentUrl}}"><i class="icon icon-trash"></i> Удалить
            везде</a>
        </li>
        <li><a ng-href="{{currentUrl}}"><i class="icon icon-undo"></i>
            Восстановить</a></li>
    </ul>
    <form class="navbar-form navbar-right">
        <input type="text" style="width: 200px;" ng-model="searchText" class="form-control"
                placeholder="Фильтр">&nbsp;
    </form>
</div>
