<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Просмотр статьи: {{ vm.article.title }}</h4>
</div>
<div class="modal-body" data-modal-id="{{vm.modalId}}">
  <div class="row">
    <div class="col-md-8" ng-hide="vm.isArticleLoaded">

      <h5 class="text-center"><i class="icon icon-cog icon-spin"></i>&nbsp;Статья загружается ...</h5>
        <span class="loading-widget">
            <div class="loading-content">

            </div>
        </span>
    </div>
    <article class="col col-md-8" ng-show="vm.isArticleLoaded">
      <small style="color:gray;padding-bottom: 20px;display: block;">
        ID:&nbsp;{{vm.article.id}},&nbsp;
        Источник:&nbsp;
        <a ng-href="{{ vm.article.url }}" target="_blank">{{ vm.article.source }}</a>,
        <span am-time-ago="vm.article.publishDate"></span>, ИК: {{ vm.article.sumAtomIndex.toFixed(2) }}
      </small>

      <div class="thumbnail thumbnail-display">

        <img class="img-default" lazy-image-src="{{ vm.article.imageId }}" lazy-width="200" lazy-height="200"/>


        <div class="image-caption">
          <input file-upload="vm.jsAction" type="file" on-success="vm.uploadSuccess" on-change="vm.onFileChange"
                 service="vm"/>
                <span ng-cloak>

                    <i ng-class="{'icon icon-cog':true,'icon-spin':vm.isUploading, 'hidden':!vm.isUploading}"></i>
                    <i ng-class="{'icon icon-edit': true, hidden:vm.isUploading}"></i>&nbsp;
                    {{vm.changePictureText()}}
                </span>

        </div>

        <button class="btn btn-success" ng-click="vm.setImage()" ng-hide="!vm.hasNewImage" style="width: 100%">
          <i class="icon icon-upload-alt"></i>&nbsp;
          {{vm.setImageButtonText()}}
        </button>
      </div>
      <p highlight-text="vm.article.highlightText"></p>
    </article>
    <aside class="col col-md-4">
      <div style="text-align: right">
        <ng-include src="'public/main/partials/modals/action-buttons.html'"></ng-include>
      </div>
      <hr class="hr" ng-show="actionButtonText || secondaryActionButtonText" />
      <div class="panel panel-default">
        <!--div class="panel-heading">
            <label class="checkbox"><input type="checkbox" /> Подсветить все</label>
        </div-->
        <div>
          <ul class="media-list media" style="overflow: inherit">
            <li class="list-group-item loading-widget" ng-hide="vm.objects">
              <div class="loading-content">

              </div>
            </li>
            <li class="list-group-item clearfix" ng-repeat="object in vm.objects" objectid="{{object.id}}">

                        <span class="pull-left highlight-control">

                            <img style="width: 50px" alt=""
                                 lazy-image-src="{{object.imageId}}"
                                 class="media-object">

                        </span>


              <div class="media-body">
                            <span class="media-heading" ng-click="vm.openObjectInfo(object, $event)"
                                  popover
                                  popover-get-content="vm.getObjectInfluence(object.id)"
                                  popover-title="{{object.name}}"
                                  popover-placement="bottom"
                                  popover-trigger="mouseenter"
                                  popover-template="public/main/partials/object/info2.html"
                                    >
                              {{object.name}}
                            </span>


                <div>
                  <span class="media-heading"
                        popover
                        popover-get-content="vm.getObjectInfluence(object.id)"
                        popover-title="{{object.name}}"
                        popover-placement="bottom"

                        popover-template="public/main/partials/object/info.html"
                    >
                    ИК: {{object.atomIndex.toFixed(4)}}
                  </span>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
  <div ng-include="'public/main/partials/article/list-more.html'"></div>
</div>


