<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">{{ vm.object.name }}</h4>
</div>
<div class="modal-body">
  <div class="clearfix">
  <span class="thumbnail thumbnail-display">
    <img lazy-image-src="{{vm.object.imageId}}" lazy-width="200" lazy-height="200"/>
  </span>
    <div class="loading-widget" ng-show="vm.isObjectLoading" style="width: 280px; margin-top: 15px">
      <div class="loading-content">
      </div>
    </div>
    <p bind-html-unsafe="vm.object.info"></p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="vm.close()">Закрыть</button>
</div>