<div>
  <div>
    Индекс качества: <strong>{{model.atomIndex}}</strong>
  </div>
  <div>
    Роль: <strong bo-object-role="{{model.objectRole}}"></strong>
  </div>
  <div>
    Цитирование: <strong bo-object-quotation-type="{{model.quotationType}}"></strong>
  </div>
  <div>
    Характер упоминания: <strong bo-object-emotion="{{model.emotionalTinge}}"></strong>
  </div>
</div>