﻿.article-list-enter, 
.article-list-leave { 
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
    position: relative;
    display: block;
} 
 
.article-list-leave.animate-leave-active,
.article-list-enter {

    opacity: 0;
}
 
.article-list-enter.animate-enter-active,
.article-list-leave {

    opacity: 1;
}
