﻿.img-default {
    opacity: 0;
    
    /*.img-loaded();*/
}

.img-wrapper {
    background-color:#dddddd;
}
@-moz-keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.img-loaded {                 
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -o-animation-name: fade-in;
    animation-name: fade-in;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;    
}
