$transitionTime: 1s;
.main-view.ng-enter {
  transition: $transitionTime;
  top:5px;
  opacity: 0.01;
  &.main-view.ng-enter-active {
    top:0;
    position: relative;
    opacity: 1;
  }
}

.main-view.ng-leave {
  transition: $transitionTime;
  display:none;
  &.main-view.ng-leave-active {
    top:20px;
  }
}