$ransitionTime: 300ms;
.tab-view.ng-enter {
  transition: $ransitionTime;
  left:20px;
  opacity: 0;
  &.tab-view.ng-enter-active {
    left:0;
    position: relative;
    opacity: 1;
  }
}

.tab-view.ng-leave {
  transition: 80ms;
  display:none;
  &.tab-view.ng-leave-active {
    opacity:0;
    left:-10px;
    position: relative;
  }
}