﻿<div class="info-bar">
    <span>
        <a class="btn btn-default" ng-href="{{url(currentState, { vs:nextVerifiedState })}}"
           ng-disabled="verifiedCount==0"
           ng-class="{active:verifiedHidden}"
           ng-click="verifiedHidden=!verifiedHidden">
            Скрыть проверенные: {{ verifiedCount }}
        </a>
    </span>
    <span class="well well-sm pull-right status-text">
        Всего в отчете:&nbsp;<span title="на странице / всего">{{ itemsOnPage }} / {{ totalCount }}</span>
        <span ng-show="deletedCount > 0">
            &nbsp;<span class="divider">|</span>&nbsp;
            <a ng-href="{{trashUrl}}"><i class="icon icon-trash"></i> В корзине: {{ deletedCount }}</a>
        </span>
    </span>
</div>
