﻿<div class="page-header">
    <h4>
        <i class="icon icon-trash-o"></i>&nbsp;Удаленные сообщения<br />
        <small>
            Всего сообщений:&nbsp;
            <span ng-show="vm.itemList.isLoaded">{{vm.itemList.totalCount}}</span>
            <span ng-hide="vm.itemList.isLoaded">
                <i class="icon icon-cog icon-spin" ng-hide="vm.itemList.isLoaded"></i>
            </span>
        </small>
    </h4>
</div>
<div class="list-with-toolbar">
    <nav id="nav1" class="navbar navbar-default navbar-transparent" role="navigation" sticky-bar="51">
        <div class="navbar-inner">
            <ul class="nav navbar-nav">
                <li style="width: 169px;">
                    <a ng-href="{{vm.currentUrl}}" ng-click="vm.toggleSelected()">
                        <i class="icon" ng-class="{'icon-square-o':vm.selectedCount==0,'icon-check-square-o':vm.selectedCount>0}"></i>&nbsp;{{vm.toggleSelectButtonText()}}
                    </a>
                </li>
                <li>
                    <a ng-href="{{vm.currentUrl}}" ng-click="vm.invertSelected()">
                        <i class="icon icon-check-square"></i>&nbsp;Инвертировать
                    </a>
                </li>
                <li>
                    <a bs-modal
                       service-object="vm"
                       template-url="app/partials/modals/delete-restore.html"
                       items-to-show="vm.getSelectedItems"
                       action="vm.restoreToReport"
                       secondary-action="vm.restoreEverywhere"
                       title="Восстановить выбранные сообщения"
                       alert="Вы действительно хотите восстановить выбранные сообщения?"
                       action-button-text="Восстановить"
                       secondary-action-button-text="Восстановить везде"
                       ng-href="{{vm.currentUrl}}">
                        <i class="icon icon-reply"></i>
                        Восстановить
                    </a>
                </li>                
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" style="width: 200px;" ng-model="vm.searchText" class="form-control" placeholder="Фильтр">&nbsp;
            </form>
        </div>
    </nav>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-lg" ng-class="{active:message.selected}" ng-repeat="message in vm.itemList.items | filter:vm.searchText">
            <div class="list-group-item-body">
                <div class="thumbnail thumbnail-article" ng-click="message.selected=!message.selected;vm.countSelected()">
                    <img src="http://placehold.it/120x120" lazy-image-src="{{ message.imageUrl }}" lazy-width="120" lazy-height="120" class="img-default" id="img_{{message.id}}" />
                </div>
                <div class="list-group-item-heading">
                    <h4>
                        <span>{{ message.title }}</span>
                    </h4>
                </div>
                <p class="list-group-item-text" bind-html-unsafe="message.annotation"></p>
            </div>
            <div item-info-bar="message"></div>
        </li>
        <li class="list-group-item loading-widget" ng-hide="vm.itemList.isLoaded">
            <div class="loading-content">

            </div>
        </li>
    </ul>
</div>
