<a tabindex="-1">
    <label class="label label-default">{{match.model.getApplicationType()}}</label>&nbsp;
    <span bind-html-unsafe="match.model.displayName | typeaheadHighlight:query"></span>
</a>

