<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Удаленные сообщения</h4>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    Всего сообщений:&nbsp;
    <span ng-show="vm.itemList.isLoaded">{{vm.itemList.totalCount}}</span>
    <span ng-hide="vm.itemList.isLoaded">
      <i class="icon icon-cog icon-spin" ng-hide="vm.itemList.isLoaded"></i>
    </span>
  </div>
  <div class="list-with-toolbar" ng-show="vm.itemList.totalCount">
    <nav id="nav1" class="navbar navbar-default navbar-transparent" role="navigation" sticky-bar="51">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li style="width: 169px;">
            <a ng-href="#" class="toggle" ng-click="vm.ls.toggleSelected($event)"
               ng-class="{'toggle-selected':vm.ls.selectedCount}">
              <i class="icon"></i>&nbsp;{{vm.ls.toggleSelectButtonText()}}
            </a>
          </li>
          <li>
            <a ng-href="#" ng-click="vm.ls.invertSelected($event)">
              <i class="icon icon-check-square"></i>&nbsp;Инвертировать
            </a>
          </li>
          <li>
            <a href="#" ng-click="vm.openRestoreConfirmation($event)">
              <i class="icon icon-reply"></i>
              Восстановить
            </a>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" style="width: 200px;" ng-model="vm.searchText" class="form-control" placeholder="Фильтр">&nbsp;
        </form>
      </div>
    </nav>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-lg" ng-class="{active:message.selected}"
          ng-repeat="message in vm.itemList.items | filter:vm.searchText">
        <div class="list-group-item-body">
          <div class="thumbnail thumbnail-article" ng-click="vm.ls.selectItem(message)">
            <img src="http://placehold.it/120x120" lazy-image-src="{{ message.imageId }}" lazy-width="120"
                 lazy-height="120" class="img-default" id="img_{{message.id}}"/>
          </div>
          <div class="list-group-item-heading">
            <h4>
              <a href="#" ng-click="vm.openArticle(message.id, message, $event)">{{ message.title }}</a>
            </h4>
          </div>
          <p class="list-group-item-text" bind-html-unsafe="message.annotation"></p>
        </div>
        <div item-info-bar="message"></div>
      </li>
      <li class="list-group-item loading-widget" ng-hide="vm.itemList.isLoaded">
        <div class="loading-content">

        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="vm.close($event)">Закрыть</button>
</div>