<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Просмотр события: {{ vm.cluster.title }}</h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-show="vm.fatalError">
    {{vm.fatalError.message}}
  </div>
  <div ng-hide="vm.fatalError">
  <div class="page-header">
    <div class="well clearfix">
      <div class="col-sm-2">
        <a href="#" ng-click="vm.openEdit(vm.cluster.id, vm.cluster, $event)" class="thumbnail thumbnail-left" style="width: 100px;height: 100px">
          <img lazy-image-src="{{vm.cluster.imageId}}" lazy-width="100" lazy-height="100" alt="" />
        </a>
      </div>
      <div class="col-sm-10">
        <h4>
          {{ vm.cluster.title }}
          <br>
          <small>
            ID: {{vm.cluster.id}},
            <a ng-href="{{ vm.cluster.sourceUrl }}">
              {{ vm.cluster.source }}
            </a> первая статья {{ vm.cluster.firstArticleDate | amDateFormat:'DD/MM/YY HH:mm' }},  последня статья {{ vm.cluster.lastArticleDate | amDateFormat:'DD/MM/YY HH:mm' }}
          </small>
        </h4>
        <hr class="horizontal-line" />
        <a ng-href="#" ng-click="vm.openEdit(vm.cluster.id, vm.cluster, $event)" class="btn btn-primary">Редактировать</a>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Главная статья</strong>
      <span class="pull-right" ng-hide="vm.mainArticle.title"><i class="icon icon-cog icon-spin"></i></span>
    </div>

    <div class="list-group-item-lg" ng-show="vm.mainArticle.title">

      <div class="clearfix list-group-item-body">
        <div class="thumbnail thumbnail-article">
          <img lazy-image-src="{{vm.mainArticle.imageId}}" lazy-width="120" lazy-height="120" alt="" />
        </div>
        <div class="list-group-item-heading">
          <h4>
            <a href="#" ng-click="vm.openArticle(vm.mainArticle.id, vm.mainArticle, $event)">{{vm.mainArticle.title}}</a>
          </h4>
        </div>
        <p bind-html-unsafe="vm.mainArticle.annotation">

        </p>
      </div>
      <div item-info-bar="vm.mainArticle"></div>
    </div>
  </div>
  <div ng-include="'public/main/partials/article/list-more.html'"></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default btn-sm" ng-click="vm.close()">Закрыть</button>
  <ng-include src="'public/main/partials/modals/action-buttons.html'"></ng-include>
</div>