<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Редактирование события: {{ vm.originalCluster.title }}</h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-show="vm.fatalError">
    {{vm.fatalError.message}}
  </div>
  <div ng-hide="vm.fatalError">
  <div class="well well-cluster-edit clearfix">
    <form name="form">
      <div class="thumbnail thumbnail-cluster-edit">
        <img class="img-default" lazy-image-src="{{ vm.cluster.imageId }}" lazy-width="400" lazy-height="400" style="height: 315px;width: 315px" />

        <div class="image-caption">
          <input file-upload="vm.jsAction" type="file" on-success="vm.uploadSuccess" on-change="vm.onFileChange" service="vm" />
                <span ng-cloak>

                    <i ng-class="{'icon icon-cog':true,'icon-spin':vm.isUploading, 'hidden':!vm.isUploading}"></i>
                    <i ng-class="{'icon icon-edit': true, hidden:vm.isUploading}"></i>&nbsp;
                    {{vm.changePictureText()}}
                </span>
        </div>

      </div>

      <div class="form-group">
        <textarea class="form-control" ng-model="vm.cluster.title" rows="3"></textarea>
      </div>
      <div class="clearfix carousel-inner" ng-hide="vm.imageList.totalCount === 0">
        <button ng-disabled="vm.isPrevImageListPageDisabled()" ng-click="vm.prevImgListPage()" class="btn btn-default carousel-left-button"><i class="icon icon-angle-left"></i></button>
        <div class="well well-xs">
          <ul rn-carousel rn-carousel-index="vm.imagelistPage" class="image-list">
            <li ng-repeat="page in vm.imageList.pages">
              <div class="layer">
                <div class="thumbnail thumbnail-item" style="display: inline-block; width: 100px;" ng-class="{active:image.selected}" ng-click="vm.selectImage(image)" ng-repeat="image in page.images">
                  <img lazy-image-src="{{image.imageId}}" lazy-width="200" lazy-height="200" />
                  <div class="label label-info">{{image.width}}x{{image.height}}</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="alert alert-info alert-carousel">Страница: {{vm.imagelistPage+1}} / Всего изображений: {{ vm.imageList.items.length}}</div>
        </div>
        <button ng-disabled="vm.isNextImageListPageDisabled()" ng-click="vm.nextImgListPage()" class="btn btn-default carousel-right-button"><i class="icon icon-angle-right"></i></button>
      </div>
      <div class="carousel-inner text-center">
        <button class="btn btn-success" ng-click="vm.setImage()" ng-disabled="vm.isSaveButtonDisabled()">
          <i class="icon icon-upload"></i>&nbsp;
          {{vm.setImageButtonText()}}
        </button>
      </div>
    </form>
  </div>
  <div ng-include="'public/main/partials/cluster/relevant-articles.html'"></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.close()">Закрыть</button>
  <button type="button" class="btn btn-danger" ng-click="vm.deleteSingleInReport()">Удалить в отчете</button>
  <button type="button" class="btn btn-danger" ng-click="vm.deleteSingleEverywhere()">Удалить везде</button>
</div>