<ng-include src="'public/main/partials/otk/queue/report-partial.html'"></ng-include>
<div class="info-bar">
    <span ng-if="vm.counters.verifiedCount">
        <a class="btn btn-default" ng-href="{{vm.$state.href('otk.report.clusters', { vs:vm.nextVerifiedState })}}"
           ng-class="{active:vm.verifiedHidden}"
           ng-click="vm.verifiedHidden=!vm.verifiedHidden">
          Скрыть проверенные: {{ vm.counters.verifiedCount }}
        </a>
    </span>
    <span class="well well-sm pull-right status-text">
        Событий:&nbsp;<span title="на странице / всего">{{ vm.itemList.items.length }} / {{ vm.itemList.totalCount }}</span>
        <span ng-show="vm.ls.deletedCount > 0">
            &nbsp;<span class="divider">|</span>&nbsp;
            <a ng-href="#" ng-click="vm.openTrash($event)"><i class="icon icon-trash"></i> В корзине: {{ vm.ls.deletedCount }}</a>
        </span>
    </span>
</div>
<div class="list-with-toolbar">
  <nav class="navbar navbar-default navbar-transparent" role="navigation" sticky-bar="91">
    <div class="navbar-inner">
      <ul class="nav navbar-nav">
        <li ng-class="{disabled:!vm.isItemsLoaded}">
          <a href="#" ng-click="vm.refresh($event)">
                        <span ng-show="!vm.isItemsLoaded">
                            <i class="icon icon-refresh icon-spin"></i>
                        </span>
                        <span ng-show="vm.isItemsLoaded">
                            <i class="icon icon-refresh"></i>
                        </span>
            &nbsp;Обновить
          </a>
        </li>
        <li ng-class="{disabled:!vm.ls.selectedCount || !vm.isItemsLoaded}">
          <a href="#" ng-click="vm.deleteConfirmation($event)">
            <i class="icon icon-times"></i>
            Удалить
          </a>
        </li>

        <li ng-show="vm.ls.deletedCount > 0">
          <a href="#" ng-click="vm.openTrash($event)">
            <i class="icon icon-undo"></i>
            Восстановить
          </a>
        </li>

      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" style="width: 200px;" ng-model="vm.searchText" class="form-control"
               placeholder="Фильтр">&nbsp;
      </form>
    </div>
  </nav>
  <ul class="list-group list-group-flush" id="list1">
    <li class="list-group-item list-group-item-lg" ng-class="{active:message.selected}" ng-repeat="message in vm.itemList.items | filter:vm.searchText">
      <div class="list-group-item-body">
        <div class="label top-right-spot" ng-if="message.articlesCount">
          &nbsp;<input type="checkbox" ng-model="selected">&nbsp;&nbsp;
          <a href="#" ng-click="vm.openEdit(message.id, message, $event)"><i class="icon icon-edit"></i> Редактировать</a>
        </div>
        <div class="thumbnail thumbnail-article" ng-click="vm.ls.selectItem(message)">
          <img src="http://placehold.it/120x120" lazy-image-src="{{ message.imageId }}" lazy-width="120" lazy-height="120" class="img-default" id="img_{{message.id}}" />
        </div>
        <div class="list-group-item-heading">
          <h4>
            <a ng-href="#" ng-click="vm.openArticle(message.id, message, $event)">{{ message.title }}</a>
          </h4>
        </div>
        <p class="list-group-item-text" bind-html-unsafe="message.annotation"></p>
      </div>
      <div item-info-bar="message" select-action="vm.selectItem" service="vm"></div>
    </li>
    <li class="list-group-item loading-widget" ng-hide="vm.isItemsLoaded">
      <div class="loading-content">
      </div>
    </li>
    <li class="list-group-item text-center" ng-hide="!vm.hasMore() || !vm.isItemsLoaded">
      <button class="btn btn-default" ng-click="vm.loadMore()" ng-disabled="!vm.isItemsLoaded">
                <span ng-show="!vm.isItemsLoaded">
                    <i class="icon icon-cog icon-spin"></i>
                </span>
                <span ng-show="vm.isItemsLoaded">
                    <i class="icon icon-download-alt"></i>
                </span>
        &nbsp;&nbsp;Загрузить еще
      </button>
    </li>
  </ul>
</div>
<div class="form-actions" ng-show="vm.isItemsLoaded && !vm.showGotoClustersButton()">
    <span ng-if="vm.isSaveInProgress">
        <i class="icon icon-cog icon-spin"></i> Идет сохранение ...
    </span>
    <span ng-if="!vm.isSaveInProgress">
        <button class="btn btn-primary" ng-click="vm.saveReport()">Сохранить и выйти</button>
        <button class="btn btn-primary" ng-click="vm.saveAndLoadNew()">Сохранить и продолжить</button>
    </span>
</div>
<div class="form-actions" ng-show="vm.showGotoClustersButton()">
  <a ui-sref="otk.report.clusters">Перейти к событиям <i class="icon icon-arrow-right"></i></a>
</div>
<div ui-view>

</div>