<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Выбрать главную статью</div>
  <div class="alert alert-warning" ng-hide="vm.itemList.items.length || !vm.isItemsLoaded">
    Нет статей для выбора
  </div>
  <ul class="list-group">
    <li class="list-group-item selectable-item" ng-repeat="item in vm.itemList.items" ng-class="{active:item.selected,'sem-trans':item.isSettingMain}" ng-click="vm.setAsMain(item)">
      <h4>{{item.title}}</h4>
      <p bind-html-unsafe="item.annotation"></p>
      <div item-info-bar="item"></div>
    </li>
    <li class="list-group-item loading-widget" ng-hide="vm.isItemsLoaded">
      <div class="loading-content">
      </div>
    </li>
  </ul>
</div>

