<div ng-init="getPhotos()">
    <br>
    <div class="row thumbnail-row" ng-repeat="group in pictureGroups">
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6" ng-repeat="photo in group">
            <a href="#" class="thumbnail">
                <img ng-src="{{ photo.url }}">
            </a>
        </div>
    </div>

</div>