<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="well">
    <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>
    <h4>Вход</h4>
    <hr/>
    <form name="loginForm">
      <fieldset>

        <div class="form-group">
          <input type="text" ng-model="vm.auth.name" auto-fill-sync class="form-control" placeholder="Имя пользователя"/>
        </div>
        <div class="form-group">
          <input type="password" ng-model="vm.auth.password" auto-fill-sync class="form-control" placeholder="Пароль"/>
        </div>
        <div class="form-group">
          <label for="RememberMe">
            <input type="checkbox" id="RememberMe" ng-model="vm.auth.isPermanent" /> Запомнить меня
          </label>
        </div>
      </fieldset>

      <div class="form-actions">
        <button class="btn btn-primary" type="submit" ng-click="vm.signIn()" ng-class="{disabled:vm.isLoading}">
          <span class="icon icon-cog icon-spin" ng-show="vm.isLoading"></span>
          Войти
        </button>
      </div>
    </form>
  </div>
</div>
<div class="col-md-4"></div>
