<div class="with-top-gap">
    <form name="form" id="form" ng-submit="vm.addConfigurationToQueue(vm.configToAdd)">
        <div class="row">
            <div class="col-md-8 form-group">
                <label for="config" class="control-label">Конфигурация</label>
                <input typeahead-template-url="public/main/scripts/directives/template/typeahead/typeahead-match.html"
                  type="text" id="config" placeholder="Введите название конфигурации" ng-model="vm.configToAdd" typeahead-editable="false" class="form-control" typeahead-min-length="2" typeahead="c as c.displayName for c in vm.allConfigs | filter:$viewValue | filter:vm.configFilter | limitTo:8">
            </div>
            <div class="col-md-2 form-group">
                <label for="priority" class="control-label">Приоритет</label>
                <input type="number" id="priority" class="form-control" validate min="-1" max="3" ng-model="vm.configToAdd.operatorPriority" />
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp;</label>
                <button type="submit" class="btn btn-primary pull-right" style="width: 100%" ng-disabled="!vm.goodToAdd(vm.configToAdd)">Добавить</button>
            </div>
        </div>
       
    </form>
    
    <div class="list-with-toolbar">
        <nav id="nav1" class="navbar navbar-default navbar-transparent" role="navigation" sticky-bar="51">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="settings.queue" ng-click="vm.deleteConfigurationFromQueue()"><i class="icon icon-remove"></i> Удалить</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" style="width: 200px;" ng-model="vm.searchText" class="form-control" placeholder="Фильтр">&nbsp;
                </form>
            </div>
        </nav>
        <ul class="list-group">
            <li class="list-group-item my-repeat-animation" ng-repeat="config in vm.configs | filter:vm.searchText" ng-class="{active:config.selected,deleted:config.deleted||config.notAdded}" ng-click="config.selected=(!config.deleted&&!config.notAdded)&&!config.selected">
                <input type="checkbox" ng-model="config.selected" ng-click="vm.checkboxClick($event)" />&nbsp;&nbsp;{{ config.displayName }}<span class="label label-info pull-right">{{ vm.appTypes[config.applicationType] }}</span>
            </li>
            <li class="list-group-item loading-widget" ng-hide="vm.isConfigsLoaded">
                <div class="loading-content">
                </div>
            </li>
        </ul>
    </div>
</div>