<div class="alert alert-danger">
    <span class="close" data-dismiss="alert" aria-hidden="true">&times;</span>
    <p bind-html-unsafe="error"></p>
    <div ng-show="other.stackTrace" style="margin-top: 10px">{{other.stackTrace}}</div>
  <hr/>
    <div ng-show="other.serviceMethod">Method: {{other.serviceMethod}}</div>
    <div ng-show="other.serviceUrl">URL: {{other.serviceUrl}}</div>
    <div ng-show="other.serviceParams">Params: {{other.serviceParams}}</div>
</div>
