﻿.loading-widget {
    height:40px;
    .loading-content {
        height: 20px;
        background-position: center;
        background-image: url(images/ajax-loader.gif);
        background-repeat: no-repeat;
    }
}
