﻿html {height: 100%}
.loginbody {
    background: url('img/mlg_cube_bottom_low.png') right bottom no-repeat white;
    
    .biglogocontainer {
        height: 141px;
        
        background: url('img/logo_big_low.png') center bottom no-repeat;
    }
    .smalllogocontainer {
        height: 60px;
        background: url('img/logo_low.png') center top no-repeat;
    }
    form {
        .btn {
            padding: 9px 48px;
        }
        text-align: center;

        legend {
            font-size: 1.9em;
        }

        input {
            text-align: center;
        }
    }
    .well {
        border-color: rgba(247, 202, 50, 0.06);
        background-color: rgb(247, 247, 212);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    input {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #F7EFD9;

        &:active, &:focus {
            border-color: #F2DA8C;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}
.error-popover{
	.popover{
		position: relative;
		display: block;
		float: left;
	}
	.popover-title{
		color: #B94A48;
        background-color: #F2DEDE;
        border-color: #EED3D7;
	}
}
.form-inline {
    h3 {
        text-transform: uppercase;
    }
    
}

.btn {
    &.btn-primary {
        background-color: #F7CA32;
        border-bottom: 3px solid #D1A412;
        border-style: none none solid;
        border-width: 0 0 3px;
        
        background-image: none;
        &:hover{
            background-color: #F2BF18;
            border-bottom: 3px solid #CE9C06;
            /*background-color: #6C8B9B;
            border-color: #01515F;*/
        }
    }
    
}
.icon-logo {
	margin: -8px 10px -8px 0;
	background: url('img/Upper-logo-ghost-small.png') no-repeat;
	width:45px;
	height:33px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .icon-logo {
        background: url('img/Upper-logo-ghost.png') no-repeat;
        -moz-background-size: 45px 33px;
        -o-background-size: 45px 33px;
        -webkit-background-size: 45px 33px;
        background-size: 45px 33px;
    }
    .loginbody {
        background: url('img/mlg_cube_bottom.png') right bottom no-repeat white;
        -moz-background-size: 664px 370px;
        -o-background-size: 664px 370px;
        -webkit-background-size: 664px 370px;
        background-size: 664px 370px;

        .biglogocontainer {
            height: 141px;
            -moz-background-size: 150px 121px;
            -o-background-size: 150px 121px;
            -webkit-background-size: 150px 121px;
            background-size: 150px 121px;
            background: url('img/logo_big.png') center bottom no-repeat;
        }

        .smalllogocontainer {
            height: 60px;
            -moz-background-size: 198px 48px;
            -o-background-size: 198px 48px;
            -webkit-background-size: 198px 48px;
            background-size: 198px 48px;
            background: url('img/logo.png') center top no-repeat;
        }
    }
}

@media (max-width: 979px){
    .navbar
    {
        .btn-navbar
        {
            float: left;
        }

        .brand
        {
            float: right;
        }
    }
}