﻿.do{}

@rheight: 375px;
@lheight: 126px;
@minHeight: 490px;
@maxHeight: 550px;

.media-query(@minHeight, @maxHeight, @rheight, @lheight){
	@media (min-height: @minHeight) and (max-height: @maxHeight)
	{
		.responsiveHeight(@rheight, @lheight);
	}
}
.responsiveHeight(@leftSideHeight, @rightSideHeight){
	.sidebar
    {
        height: @leftSideHeight;
    }

    #quotationarticlelist
    {
        height: @rightSideHeight;
    }
}
.mq(@minHeight, @maxHeight, @rheight, @lheight, @deltaMedia){
	@deltaHeight: @deltaMedia;
	.media-query(@minHeight+@deltaMedia, @maxHeight+@deltaMedia, @rheight+@deltaHeight, @lheight+@deltaHeight);
}

.mq(@minHeight, @maxHeight, @rheight, @lheight, 0);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 60);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 120);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 180);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 240);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 300);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 360);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 420);
.mq(@minHeight, @maxHeight, @rheight, @lheight, 480);

