$black:                  #243d44;
$gray-darker:            lighten($black, 13.5%) !default; // #222
$gray-dark:              lighten($black, 20%) !default;   // #333
$gray:                   lighten($black, 33.5%) !default; // #555
$gray-light:             lighten($black, 60%) !default;   // #999
$gray-lighter:           lighten($black, 93.5%) !default; // #eee
$navbar-inverse-bg:                         #357181 !default;
$brand-primary:         $gray-dark !default;


@import "../bower_components/sass-bootstrap/lib/bootstrap";
@import "special-fonts/css/backoffice.scss";
@import "font-awesome/scss/font-awesome";
@import "animations/animate";
@import "animations/main-view-animations";
@import "animations/tab-view-animations";
@import "animations/image-animations";

@import "components/nav";
@import "components/typeahead";
@import "components/thumbnail";
@import "components/breadcrumb";
@import "components/btn";
@import "components/list-group";
@import "components/panel";
@import "components/well";
@import "components/form";
@import "loading-widget";
@import "animations/article-list-animations";
@import "components/message-info-bar";
@import "components/angular-carousel";
@import "components/object-popover";
@import "components/label";
@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: url("#{$file-1x}");
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url("#{$file-2x}");
    background-size: $width-1x $height-1x;
  }
}

.page-header {
  border-bottom-color: lightgray;
}
.hr {
  border-top: 1px solid lightgray;
}
.tooltip-inner {
  background-color: $black;
}
.tooltip.top .tooltip-arrow {
  border-top-color: $black;
}
.btn-default, .btn-default.active {
  color: #243d44;
}
@media (min-width: 768px) {
  .modal-dialog.modal-lg {
    width: auto;
    margin: -10px 10px 20px 10px;
    padding-bottom: 0;
  }
}

.modal-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toggle {
  i {
    @extend .icon-square-o;
  }
  &.toggle-selected {
    i {
      @extend .icon-check-square-o;
    }
  }
}
html, body {
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
  
  zoom: 1;
  -ms-zoom: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

i.icon-brand {
  @include img-retina("images/Upper-logo-ghost-small.png", "images/Upper-logo-ghost.png", 41px, 33px);
  width: 41px;
  height: 33px;
  display: inline-block;
}

/* Custom CSS goes here */

.sem-trans {
    opacity: 0.4;
}
.carousel-inner {
    display: inline-block;
    width: 775px;
    margin: 0 5px 5px;                           
}

.carousel-left-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 81px 5px;
    float: left;
}
.alert-carousel {
    padding: 5px 10px;
    margin-bottom: 0;
}
.carousel-right-button {
    vertical-align:top;
    display: inline-block;  
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 81px 5px;
    margin-left: -5px;
}
.image-list {
    width:735px;
}
.with-top-gap {
    margin-top: 15px;
}

.info-bar {
    height: 35px;
    margin-top: 5px;
}
.dropdown-menu.dropdown-fixed {
    margin-left:0 !important;
}

.modal {
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}
.modal-backdrop.in {
    opacity:0.3;
}

.label .label-closeable {
  position: relative;
  top: 3px;
  padding-left: 5px;
}

.articleItem .dateInfo {
  text-align: right;
}

.medialist a {
  font-size: 1.3em;
}

section {
  &.nopad {
    padding: 0;
  }

  &.top-stick {
    border-top: 0;
  }

  &.limited-height {
    height: 850px;
    overflow: auto;
  }
}

.articles ul li {
  padding: 0 10px;
}

.page-header {
  margin-top: 20px;
}

.label-justified {
  display: block;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

i.icon-brand {
  @include img-retina("images/Upper-logo-ghost-small.png", "images/Upper-logo-ghost.png", 45px, 33px);
  width: 41px;
  height: 33px;
  display: inline-block;
}

.status-text {
    margin-bottom: 0;
    padding: 6px 12px;
}

.horizontal-line {
  border-top-color:#dddddd;
}

a[objectId] {
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 3px;
    text-decoration: underline;

    &.active {
        text-decoration:none;
    }
}

.media .pull-left {
    margin-right: 10px;
}
.media-heading {
    cursor:pointer;
}
.highlight-control {
    cursor:pointer;
}
h4 {
  small {
    color:#969B9C;
  }
}
