<div class="object-popover popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
  <div class="arrow"></div>

  <div class="popover-inner">
      <h3 class="popover-title" ng-bind="ptitle" ng-show="ptitle"></h3>

      <div class="popover-content">
          <div class="loading-widget" ng-hide="isContentLoaded" style="width: 280px; margin-top: 15px">
              <div class="loading-content">
              </div>
          </div>
          <p bind-html-unsafe="content" ng-show="isContentLoaded"></p>
      </div>
  </div>
</div>
